.formContainer {

  text-align: center;

  .formLogo {
    width: 150px;
  }

  .titleForm {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #4c549c;
  }

}


.formRegistro {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}
